<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PlatformSpecific.Analyzer" version="0.0.3-alpha" targetFramework="win81" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="win81" userInstalled="true" />
  <package id="Win2D" version="0.0.17" targetFramework="win81" userInstalled="true" />
</packages>